apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cpin-app-of-apps
  namespace: argo-cpin
spec:
  destination:
    namespace: argo-cpin
    server: https://kubernetes.default.svc
  project: infrastructure
  source:
    helm:
      valueFiles:
      - ./values.yaml
    path: {{ .Values.cpinAppOfApps.path }}
    repoURL: {{ .Values.cpinRepoUrl }}
    targetRevision: {{ .Values.cpinAppOfApps.branch }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
